node_modules
*/node_modules
**/node_modules
target
**/target
*/.next
*/.env
**/.env
*/.env.test
*/.env.local
**/.env.test
**/.env.local
admin_leg
notes

docs/generate/source
docs/generate/schema.json
