DATABASE_URL="postgresql://postgres@localhost:5432/open-exchange-dev?schema=public"
DATABASE_MIGRATION_URL="postgresql://postgres@localhost:5432/open-exchange-dev?schema=public"
DATABASE_NAME="open-exchange-dev"
DATABASE_APP_PASSWORD="postgres"
DATABASE_APP_USER="postgres"
DATABASE_SCHEMA="public"
NEXT_PUBLIC_BACKEND_URL=""
NEXT_PUBLIC_TENANT_MODE="single"
FRONTEND_URL="http://localhost:3000"
AUTH_TOKEN_SECRET="complex_password_at_least_32_characters_long"
AUTH_TOKEN_EXPIRES_IN="7 days"
FILE_STORAGE_PROVIDER="local"
NEXT_PUBLIC_SUBSCRIPTION_MODE="disabled"
NEXT_PUBLIC_LOCALE="en"
AUTH_BYPASS_EMAIL_VERIFICATION=true
